/.isolated-storage
/configstore
/gh
/herd-lite
/karabiner
/nvim.bak
/psysh
/raycast
/wireshark
nvim/lazy-lock.json
ngrok/ngrok.yml
nextjs-nodejs/config.json
lazygit/config.yml
composer/config.json
composer/auth.json
composer
/create-next-app-nodejs
